body{
font-family: Arial;
margin:0;
background:#0f172a;
color:white;
}

header{
text-align:center;
padding:30px;
background:#020617;
}

nav{
display:flex;
justify-content:center;
gap:20px;
background:#1e293b;
padding:10px;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
padding:40px;
flex-wrap:wrap;
}

.card{
background:#1e293b;
padding:20px;
width:250px;
border-radius:10px;
text-align:center;
box-shadow:0 0 10px #000;
}

button{
padding:10px 15px;
border:none;
background:#38bdf8;
color:black;
font-weight:bold;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#0ea5e9;
}

footer{
text-align:center;
padding:20px;
background:#020617;
}